<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>



<body id="idBody">
<header>
    <p> Financial Tracker </p>
</header>
<main>
    <div class="main_menu">
        <p> Menu: </p>
        <nav>
            <ul>
                <li><a id="idNavTransaction"> Transactions </a></li>
                <li><a id="idNavCategories"> Categories </a></li>
                <li><a id="idNavOverview"> Overview </a></li>
            </ul>
        </nav>
    </div>
    <div class="main_div">
        <div class="bar">
            <button id="idExpensesButton"> Expenses </button>
            <button id="idIncomeButton"> Income </button>
        </div>
        <div class="items">
           <p id="idMainTitle"> Add a new category </p>
            <form>
                <ul>
                    <li>
                        <label> Name: </label>
                        <input type="text" id="idName">
                    </li>
                    <li>
                        <label> Label: </label>
                        <input type="file" title="la" id="idImage"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>


</main>
<footer>
    <button id="idFooterButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        Add category
    </button>
</footer>
<script type="module" src="{% static 'js/all.js'%}"> </script>
<script type="module" src="{% static 'js/router.js'%}"> </script>
<script type="module" src="{% static 'js/states.js'%}"> </script>
</body>
</html>