<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>



<body id="idBody">
<header>
    <p> Financial Tracker </p>
</header>
<main>
    <div class="main_menu">
        <p> Menu: </p>
        <nav>
            <ul>
                <li><a id="idNavTransaction"> Transactions </a></li>
                <li><a id="idNavCategories"> Categories </a></li>
                <li><a id="idNavOverview"> Overview </a></li>
            </ul>
        </nav>
    </div>
    <div class="main_div">
        <div class="bar">
            <select>
                <option value="week"> Week </option>
                <option value="month"> Month </option>
            </select>
        </div>
        <div class="items">
            <div class="plot">
                <canvas> </canvas>
            </div>

            <div class="pies">
                <canvas> pie chart there </canvas>
                <canvas> pie chart there </canvas>
            </div>
        </div>
    </div>


</main>
<script type="module" src="{% static 'js/all.js'%}"> </script>
<script type="module" src="{% static 'js/router.js'%}"> </script>
<script type="module" src="{% static 'js/states.js'%}"> </script>
</body>
</html>